<br /><br /><br />

<h1 class="experimental-kibi">QUIZ 1: PIPELINE SET UP</h1>
<br /><br /><br />
<h2 class="subheader">This app just wants to get to know you!</h2>

<br />

<p class="desc">It's just to prove that I can set up the pipeline required for a web app</p>
<br /><br /><br />

<div class="experimental-kibi">
  The last person to submit their workplace was:
  <div class="desc">
    <%= Kibi.last.name %> 
  </div>

  <br />
  And they work at:
  <div class="subheader">
    <%= Kibi.last.description %>  
  </div>
</div>