@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

.experimental-kibi {
  font-family: 'Mansalva', cursive;
  font-size: 40px;
  text-align: center;
  color: #E57BF2;
}

.subheader {
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.desc {
  text-align: center;
  color: white;
  font-weight: bold;
}

body {
  background: image_url('ben.jpg')no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
}